.Body-main {
    background: #161E45;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.Body-loggedin {
    display:flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}